#context-bookmarklink,
#context-translate-selection,
#context-openlinkinusercontext-menu,
#context-sendimage,
#context-print-selection,
#context-viewpartialsource-selection,
#context-navigation,
#context-sep-navigation,
#context-media-pause,
#context-media-unmute,
#context-media-playbackrate,
#context-media-loop,
#context-video-fullscreen,
#context-media-showcontrols,
#context-sendvideo {
  display: none;
}

.tab-icon-overlay[soundplaying] {
  fill: #ff2800 !important;
  border-color: #ff2800 !important;
  background-color: #1a1100 !important;
}

#nav-bar, .tab-label, .tab-preview-title {
  font-family: "NotoSans Nerd Font" !important;
}
